<div class="container">

  <h1 class="title">NEW BOOKMARK</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
    <div class="bottom-btn">
      <a href=""><%= f.submit %></a>
    </div>
  <% end %>
  <div class="bottom-btn">
    <a href=""><%= link_to "BACK TO LISTS", lists_path %></a>
  </div>

</div>
