<div class="container">

  <h1 class="title">NEW BOOKMARK</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
    <div class="bottom-btn">
      <%= f.submit %>
    </div>
  <% end %>
  <div class="bottom-btn">
    <%= link_to "BACK TO LISTS", lists_path %>
  </div>

</div>
